version: '3.8'

services:
  api_gateway:
    build:
      context: ./api_gateway
      dockerfile: Dockerfile 
    ports:
      - "8080:8080"
    environment:
      - JWT_SECRET=your_secret_key
    depends_on:
      - service_users
      - service_orders
    networks:
      - app-network

  service_users:
    build:
      context: ./service_users
      dockerfile: Dockerfile 
    ports:
      - "8081:8081"
    networks:
      - app-network

  service_orders:
    build:
      context: ./service_orders
      dockerfile: Dockerfile 
    ports:
      - "8082:8082"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
